<footer class="footer">
  <p>
    <img class="logo" src="{{uiRootPath}}/img/logo-formatux.png"/>
    Formatux utilise <a href="https://gitlab.com/antora/">Antora</a> pour la génération de son site.</p>
</footer>
