<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class=" navbar-logo" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <img class="logo" src="{{uiRootPath}}/img/logo-formatux.png"/>
        </a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      </div>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a>Formatux : </a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#"><span class="fas fa-globe"></span> En ligne</a>
          <div class="navbar-dropdown">

            <a class="navbar-item" href="https://www.formatux.fr/formatux-fondamentaux/index.html"><span class="fas fa-hiking"></span> Fondamentaux Linux</a>
            <a class="navbar-item" href="https://www.formatux.fr/formatux-services/index.html"><span class="fas fa-cogs"></span> Services Linux</a>
            <a class="navbar-item" href="https://www.formatux.fr/formatux-devops/index.html"><span class="fas fa-running"></span> DevOPS</a>
            <a class="navbar-item" href="https://www.formatux.fr/formatux-securite/index.html"><span class="fas fa-user-secret"></span> Sécurité</a>
            <a class="navbar-item" href="https://www.formatux.fr/formatux-bash/index.html"><span class="fas fa-code"></span> Scripting Bash</a>
            <a class="navbar-item" href="https://www.formatux.fr/formatux-annexes/index.html"><span class="fas fa-clipboard"></span> Annexes</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#"><span class="fas fa-book"></span> En PDF</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux_maformationlinux.pdf"><span class="fas fa-book"></span> Le support complet</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-fondamentaux.pdf"><span class="fas fa-hiking"></span> Fondamentaux Linux</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-services.pdf"><span class="fas fa-cogs"></span> Services Linux</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-devops.pdf"><span class="fas fa-running"></span> DevOPS</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-securite.pdf"><span class="fas fa-user-secret"></span> Sécurité</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-bash.pdf"><span class="fas fa-code"></span> Scripting Bash</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-annexes.pdf"><span class="fas fa-clipboard"></span> Annexes</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#"><span class="fas fa-book"></span> En EPUB</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux_maformationlinux.epub"><span class="fas fa-book"></span> Le support complet</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-fondamentaux.epub"><span class="fas fa-hiking"></span> Fondamentaux Linux</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-services.epub"><span class="fas fa-cogs"></span> Services Linux</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-devops.epub"><span class="fas fa-running"></span> DevOPS</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-securite.epub"><span class="fas fa-user-secret"></span> Sécurité</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-bash.epub"><span class="fas fa-code"></span> Scripting Bash</a>
            <a class="navbar-item" href="https://pdf.formatux.fr/formatux-annexes.epub"><span class="fas fa-clipboard"></span> Annexes</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#"><span class="fab fa-gitlab"></span> Codes sources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://framagit.org/formatux/formatux-fondamentaux"><span class="fas fa-hiking"></span> Fondamentaux Linux</a>
            <a class="navbar-item" href="https://framagit.org/formatux/formatux-services/"><span class="fas fa-cogs"></span> Services Linux</a>
            <a class="navbar-item" href="https://framagit.org/formatux/formatux-devops"><span class="fas fa-running"></span> DevOPS</a>
            <a class="navbar-item" href="https://framagit.org/formatux/formatux-securite/"><span class="fas fa-user-secret"></span> Sécurité</a>
            <a class="navbar-item" href="https://framagit.org/formatux/formatux-bash"><span class="fas fa-code"></span> Scripting Bash</a>
            <a class="navbar-item" href="https://framagit.org/formatux/formatux-annexes"><span class="fas fa-clipboard"></span> Annexes</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#"><span class="fab fa-stack-exchange"></span> Autour de Formatux</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://blog.formatux.fr/"><span class="far fa-newspaper"></span> Actualités</a>
            <a class="navbar-item" href="https://gitter.im/formatux-fr/formatux"><span class="fab fa-gitter"></span> Discuter sur gitter</a>
            <a class="navbar-item" href="https://paypal.me/pools/c/8hlM1Affp1"><span class="fab fa-cc-paypal"></span>Faire un don</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
